input {
    color: red;
    width: 120px;
}

.table h1 {
    font-family: comic sans ms;
    margin: 0px 40px;
    color: aliceblue;
}

.header {
    width: auto;
    height: 80px;
    background-color: black;
    border-radius: 10px;
}

.footer {
    width: auto;
    height: 100px;
    background-color: black;
}

img {
    height: 100px;
}
